body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,a,img{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:300;}
html{overflow-x:auto;overflow-y:hidden;}
body{background:#000;font-family: "Microsoft Yahei","微软雅黑","Microsoft JhengHei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";color:#fff;}
a{text-decoration:none;color:#fff;}
#header,#content,#footer{width:100%;}
#header{background:url('../img/pattern1.png');height:70px;}
#header #logo{text-indent:-999em;position:absolute;top:0;left:100px;width:150px;height:330px;background:url("../img/yangji2.png") no-repeat;}
#navigation{position:absolute;left:300px;top:28px;}
#header #navigation li{float:left;margin-right:18px;}
#header #navigation li a{font-size:20px;}
#header #navigation li a:hover{color:#F6D3A4;}
#header #language{position: absolute;top:4px;right: 4px;opacity:0.9;}
#slogan{width:272px;height:42px;background:url("../img/intro1.png") no-repeat;position:absolute;z-index:1000;top:120px;right:8%;}
.contact-us{background:url("../img/slogan2.png") no-repeat !important;top:100px !important;right:4% !important;}
#intro-wrapper{position:absolute;top:120px;left:300px;right:120px;background:rgba(0,0,0,0.4);background-clip:padding-box;border:32px solid rgba(0,0,0,0.4);border-right:22px solid rgba(0,0,0,.4);overflow:hidden;}
#introduction{overflow:hidden;position:absolute;z-index:999;font-size:18px;font-family: "Microsoft Yahei","微软雅黑","Microsoft JhengHei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";line-height:24px;padding-right:20px;}
#introduction p{margin-bottom:1em;}
.ScrollBg{position:absolute;right:0;top:0;width:8px;height:100%;background:rgba(0,0,0,0.2);}
.ScrollBar{width:8px;height:60px;border-radius:4px;background:rgba(0,0,0,.8);position:absolute;right:0;top:0;z-index:9999;overflow:hidden;}
#detail-wrapper{position:absolute;top:120px;left:300px;right:29%;background:rgba(0,0,0,0.4);background-clip:padding-box;border:32px solid rgba(0,0,0,0.4);border-right:22px solid rgba(0,0,0,.4);overflow:hidden;}
#detail,#menu{position:absolute;}
#detail{overflow:hidden;position:absolute;padding-right:10px;width:100%;z-index:999;}
#detail h2{font-size:26px;}
#detail #thumbnails{margin:20px 0 0 0;}
.thumbnail{position:relative;width:23%;max-width:130px;min-width:1
00px;height:130px;padding:0;margin-right:14px;overflow:hidden;display:inline-block;}
.thumbnail span{position:absolute;left:0;bottom:0;line-height:30px;text-indent:14px;width:130px;background:rgba(0,0,0,0.6);}
#menu{top:120px;right:8%;width:16%;padding:24px;background:rgba(0,0,0,0.4);}
#menu li a{font-size:18px;line-height:24px;}
.contact{width:100%;}
.contact img{float:right;margin-right:20px;}
.contact span{font-family: "Microsoft Yahei","微软雅黑","Microsoft JhengHei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";}
.contact p{margin-top:20px;font-weight:300;}
#content{clear:left;position:fixed;bottom:30px;height:210px;background:url('../img/pattern2.png');}
#content h2{font-size:28px;line-height:60px;}
#content #about,#content #gallery{position:absolute;margin-left:32px;}
#content #about{width:30%;}
#gallery{left:33%;min-width:710px;}
#gallery .album-pic{border:1px solid #D9D4CB;margin-right:30px;}
#album a{position:relative;display:inline-block;}
#album a span{position:absolute;left:12px;bottom:16px;font-size:20px;}
#footer{clear:left;position:fixed;bottom:0;height:30px;background:#000;text-align:right;line-height:30px;font-size:14px;}
#about h2,#gallery h2{text-indent: -999em;}
#about h2 a,#gallery h2 a{display: block;width: 104px;height:30px;margin:20px 0 12px;background:url("../img/h2.png") no-repeat 0 0;}
#gallery h2 a{background: url("../img/h2.png") no-repeat -104px 0;}